<p id="notice"><%= notice %></p>

<h1>Listing Stock Data</h1>
  <td><%= link_to 'Sync All', :controller => 'sync', :action => 'syncAll' %> <%= evil_icon 'ei-refresh', size: :s %> </td>
<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stock_data.each do |stock_datum| %>
      <tr>
        <td><h4><%= stock_datum.symbol %></h4></td>
        <td><%= link_to 'Sync', :controller => 'sync', :action => 'syncSymbol', :symbol => stock_datum %>
          <%= evil_icon 'ei-refresh', size: :s %></td>
        <td><%= link_to 'Show', stock_datum %></td>
        <td><%= link_to 'Edit', edit_stock_datum_path(stock_datum) %></td>
        <td><%= link_to 'Destroy', stock_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Stock datum', new_stock_datum_path %>
<p>
<div class="row">
  <div class="col-sm-4">
    <%= form_tag(stock_data_path) do %>
      <%= text_area_tag :multi_symbols %>
      <%= submit_tag 'Add from List', name: nil, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
