<%= stylesheet_link_tag "datagrid" %>
<div class="row">
  <div class="col-sm-3">
    <%= datagrid_form_for @grid, :method => :get, :url => datum_grids_path %>
    <%= link_to "Get CSV", url_for(:datum_grids_grid => @params, format: 'csv'), :class => "btn btn-default" %>
  </div>
  <div class="col-sm-9">
    <% if params.has_key?(:datum_grids_grid) %>
      <%= datagrid_table @grid %>
      <%= will_paginate(@grid.assets) %>
    <% end %>
  </div>
</div>


