<div class="row">
  <div class="col-lg-10 col-centered">
    <div class="jumbotron">
      <H3><%= @title %></H3>
      <H3>Scrape All the Data!</H3>
      <%= form_tag({:controller=>"home", :action=>"index"}, method: :get) do %>
        <%= text_field_tag :symbol %> 
        <%= submit_tag 'Search Symbol', name: nil %> <%= evil_icon 'ei-search', size: :s %>
      <% end %>
      Total Records: <p class="text-primary"><%= @priceData.count %></p>
    </div>
  </div>
</div>

<div class="row" id ="daysTable">
  <%= raw @table %>
</div>