<h1>Home#index</h1>

<H1><%= @title %></H1>
<p><%= @date %></p>
<p><%= @foo %></p>
<p><%= @count %></p>
<p><%= @stuff.inspect %></p>
dsafsadfsd

<p><%= @historicalDates %></p>
<%= @historicalData.inspect %>
